
<% content_for :mHeader do %>
  <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
  <%= javascript_include_tag 'compare' %>
<% end %>

<% content_for :mFrame do %>
    <script type="text/javascript">
      updateUrl();
    </script>


<table>
  <thead>
    <tr>
      <th>Job Title</th>
      <th><%= @job_one.job_title %></th>
      <th><%= @job_two.job_title %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Offered By</strong></td>
      <td><%=raw @job_one.offered_name %></td>
      <td><%=raw @job_two.offered_name %></td>
    </tr>

    <tr>
      <td><strong>Location</strong></td>
      <td><%=raw @job_one.offered_address %></td>
      <td><%=raw @job_two.offered_address %></td>
    </tr>

    <tr>
      <td><strong>Work Day</strong></td>
      <td id="j1d"><%=raw @job_one.work_day %></td>
      <td id="j2d"><%=raw @job_two.work_day %></td>
    </tr>

    <tr>
      <td><strong>Hours per Week</strong></td>
      <td id="j1h"><%=raw @job_one.working_hours %></td>
      <td id="j2h"><%=raw @job_two.working_hours %></td>
    </tr>

    <tr>
      <td><strong>Salary</strong></td>
      <td id="j1s"><%=raw @job_one.salary %></td>
      <td id="j2s"><%=raw @job_two.salary %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= link_to "Download A PDF Copy", compare_path(format: 'pdf', :j1 => @job_one.id, :j2 =>@job_two.id ) %>
<a href="#" onclick="lastUrl(); return false; ">Back</a>
