<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>
<link rel="stylesheet" type="text/css" href="table.css">
<% content_for :mFrame do %>
    
    <script type="text/javascript">
      updateUrl();
    </script>
    
    </script>
        
        <!--<div id="left">-->
        <%= link_to "PROTECTED", {:controller => :protected, :action => :index} %>
        <!--</div>-->
        
        <!--<div id="left">-->
        <% if user_signed_in? %>
        
            <% if current_user.admin? %>
                <a href="/admin/">Admin page</a>     
            <% else %>
                <%= link_to('Edit Preference', edit_preference_path( current_user.id ) ) %>        
            <% end %>
                <a href="/posts/new" data-turbolinks="false">Write a post</a>  
        <% else %>
                <a href="/users/sign_up">Register</a>
                <%= link_to('LOGIN', new_user_session_path)  %> 
                <a href="/text">Lorem</a>
        <% end %>
        
        <!--</div>-->
    </div>

<% end %>


<div class="table-title">
        <h3>Listing Posts</h3>
</div>

<table class="table-list-posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.type %></td>
        <td><%= post.owner_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

