<% content_for :mHeader do %>
    <%= stylesheet_link_tag 'table' %>
<% end %>

<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>

<% content_for :mFrame do %>
    
    <script type="text/javascript">
      updateUrl();
    </script>


<div class="table-title">
        <button onclick="switchTab()" class="button_selected" id="revCaption" disabled>Reviews</button>
        <button onclick="switchTab()" class="button_unselected" id="proCaption">Promotions</button>
</div>

<div class="padding">
</div>

<table class="table-list-users" id="revTable">
  <thead>
    <tr>
      <th class="noselect" onclick="window.location='/index?sort_by=title'">
        <span>Title</span>
        <% if @sort_by.include?('title') %> 
          <span style="float:right;">&#9660;</span>
        <% end %>
      </th>
      <th class="noselect" onclick="window.location='/index?sort_by=owner'">
        <span>Creator</span>
        <% if @sort_by.include?('owner') %> 
          <span style="float:right;">&#9660;</span>
        <% end %>
      </th>
      <th class="noselect" onclick="window.location='/index?sort_by=updated_at'">
        <span>Last edit</span>
        <% if @sort_by.include?('updated_at') %> 
          <span style="float:right;">&#9660;</span>
        <% end %>
      </th>
      <th></th>

      <% if has_address %> 
        <th>Farness</th>
      <% end %> 
    </tr>
  </thead>


  <tbody>
    <% @reviews.each do |post| %>
      <tr id="PID<%= post.id %>">
        <td class="noselect" onclick="window.location='/posts/<%= post.id %>'"><%= post.title %></td>
        <td class="noselect" onclick="window.location='/index?id=<%= post.owner %>'"><%= post.owner_name %></td>
        <td class="noselect" onclick="window.location='/index?cdate=<%= post.updated_at.to_s[0..9] %>'"><%= post.updated_at.to_s[0..9] %></td>
        <td>
          <div class="text-button">
              <a class="text-button" href="#" onclick="addToCompareList( <%= post.id %> ); return false; ">Compare</a>
              <span><sup>+</sup></span>
          </div>
        </td>

        <% if has_address %> 
          <td><%= get_distance( post.owner ) %></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table-list-users hidden" id="proTable">
  <thead>
    <tr>
      <th class="noselect" onclick="window.location='/index?sort_by=title'">
        <span>Title</span>
        <% if @sort_by.include?('title') %> 
          <span style="float:right;">&#9660;</span>
        <% end %>
      </th>
      <th class="noselect" onclick="window.location='/index?sort_by=owner'">
        <span>Creator</span>
        <% if @sort_by.include?('owner') %> 
          <span style="float:right;">&#9660;</span>
        <% end %>
      </th>
      <th class="noselect" onclick="window.location='/index?sort_by=updated_at'">
        <span>Last edit</span>
        <% if @sort_by.include?('updated_at') %> 
          <span style="float:right;">&#9660;</span>
        <% end %>
      </th>
      <th>
      </th>
    </tr>
  </thead>


  <tbody>
    <% @promotions.each do |post| %>
      <tr id="PID<%= post.id %>">
        <td class="noselect" onclick="window.location='/posts/<%= post.id %>'"><%= post.title %></td>
        <td class="noselect" onclick="window.location='/index?id=<%= post.owner %>'"><%= post.owner_name %></td>
        <td class="noselect" onclick="window.location='/index?cdate=<%= post.updated_at.to_s[0..9] %>'"><%= post.updated_at.to_s[0..9] %></td>
        <td>
          <div class="text-button">
              <a class="text-button" href="#" onclick="addToCompareList( <%= post.id %> ); return false; ">Compare</a>
              <span><sup>+</sup></span>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div align="right" style="margin-right: 10%">
  <button class="button" onclick="clearCompareList()">Clear List</button>
  <button id="btnCompare" class="button" onclick="compare()">Start Compare</button>
  <script type="text/javascript">isComparable();</script>
</div>

<% end %>
