<% content_for :mHeader do %>
    <%= stylesheet_link_tag 'table', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>

<% content_for :mFrame do %>
    
    <script type="text/javascript">
      updateUrl();
    </script>
        
        <%= link_to "PROTECTED", {:controller => :protected, :action => :index} %>
        
        <% if user_signed_in? %>
        
            <% if current_user.admin? %>
              <nav></nav>
                  <a href="/admin/">Admin page</a>  
                  <a href="/posts/new" data-turbolinks="false">Write a post</a>
                  <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to('Edit Preference', edit_preference_path( current_user.id ) ) %> 
                <%= link_to('My Profile', profiles_path ) %> 
                <a href="/posts/new" data-turbolinks="false">Write a post</a>
                <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
            <% end %>
        <% else %>
                <a href="/users/sign_up">SIGN UP</a>
                <%= link_to('LOGIN', new_user_session_path)  %> 
                <a href="/text">Lorem</a>
        <% end %>

<% end %>


<div class="table-title">
        <h3>Listing Posts</h3>
</div>

<table class="table-list-users">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.type %></td>
        <td><%= post.owner_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

