<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">

        <h3 class="centered">LOGIN MY ACCOUNT</h3>
        <h4 class="centered"> —————— </h4>
        <br>
        
        <br>
        <hr>

            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
            <%= f.label :Email, "EMAIL" %>
            <%= f.email_field :email, :class => 'form-control input-lg', :autofocus => true %>

            <%= f.label :Password, "PASSWORD" %>
            <%= f.password_field :password, :class => 'form-control input-lg', :autofocus => true, :autocomplete => :off %>

            <% if devise_mapping.rememberable? %>
              <!--<div class="field">-->
              <%= f.check_box :remember_me %> <span style="font-size: 12px; font-weight: bold"> REMEMBER ME</span>
              <!--%= f.label :remember_me %-->
              <!--</div>-->
            <% end %>

            <%= f.submit "LOGIN", :class => 'btn-block btn-lg', style:"background-color: #5CA4A9; border: 2px solid #5CA4A9; color: white" %>
            <%= render "users/shared/links" %>

<% end %>
