<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        
        <!--<form method="post" action="#" role="login">-->
          <div id="loginContainer">
            <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
            <%= form_for(@user, as: :user, url: "/users/sign_in") do |f| %>
            <div class="field">
              <%= f.email_field :email, placeholder: "Email", :class => 'form-control input-lg', :autofocus => true %></br>
              <%= f.password_field :password, placeholder: "Password", :class => 'form-control input-lg', :autofocus => true, :autocomplete => :off %>
            </div>
            
            <div class="actions">
              <%= f.submit "LOGIN", :class => 'button btn-success btn-lg btn-primary btn-block' %>
            </div>
            
            <% if devise_mapping.rememberable? %>
              <!--<div class="field">-->
                <%= f.check_box :remember_me %> Remember Me
                <!--%= f.label :remember_me %-->
              <!--</div>-->
            <% end %>
            
            <br />
            <%= render "users/shared/links" %>
          </div>
        <!--</form>-->
      </section>
    </div>
  </div>
</div>
<% end %>
