<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
    <%= stylesheet_link_tag 'table' %>
<% end %>

<% content_for :mFrame do %>
<script type="text/javascript">
  updateUrl();
</script>

     <div class="table-title">
        <h3>Listing Users</h3>
    </div>

  <table class="table-list-users">
      <thead>
        <tr>
          <th>ID</th>
          <th>e-mail</th>
          <th>Type</th>
          <th colspan="1"></th>
        </tr>
      </thead>

    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.type %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  

<% end %>

<button class="button" type="button" onclick="lastUrl()">Back</a>
