<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>


<% content_for :mFrame do %>
<script type="text/javascript">
  updateUrl();
</script>

<div class="table-title">
        <h3>My Profile</h3>
</div>
<div class="user-profile">
    <img  class="avatar" src="http://i.imgur.com/y7GX8r8.png" alt="Avatar" />
    
     
    <div class="username"> <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %></div>
    <div class="school">SFU</div>
    <div class="description"><%= @user.type %></div>
    <div class="details"><span class="profiletitle">Details</span></div>
    <div class="left">Email</div>
    <div class="right"><%= @user.email %></div>
    <div class="left">Phone</div>
    <div class="right"><%= @user.phone %></div>
    <div class="left">Address Number</div>
    <div class="right"><%= @user.number %></div>
    <div class="left">Street</div>
    <div class="right"><%= @user.street %></div>
    <div class="left">Zip</div>
    <div class="right"><%= @user.zip %></div>
    <div class="left">Province</div>
    <div class="right"><%= @user.province %></div>
    <div class="left">City</div>
    <div class="right"><%= @user.city %></div>
      
</div>

<% end %>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2603.565048288081!2d<%= @user.longitude %>
!3d<%= @user.latitude %>
!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867738e32ad147%3A0xaadc75d55d8e13a7!2s2060+Bellwood+Ave%2C+Burnaby%2C+BC+V5B+4V2!5e0!3m2!1sen!2sca!4v1469506519018" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<button class="button" type="button" onclick="lastUrl()">Back</a>
