<% content_for :mHeader do %>
  <%= javascript_include_tag 'setting' %>
  <%= stylesheet_link_tag 'profilepage' %>
<% end %>


<% content_for :mLogin do %>
<% end %>


<% content_for :mFrame do %>
  <script type="text/javascript">
    updateUrl();
  </script>

  <div>
    <div id='mapDiv' style="float: right; position: relative; width:600px; height:600px; z-index: -2"></div>
  </div>

  <%= form_for(@me, as: :user, :url => setting_path, :html => { :method => :put } ) do |f| %>
    <% if !@profile.nil? %>
    <%= f.fields_for @profile do |ff| %>
      <div>
          <h1>Profile</h1>
            <% if @profile.avatar.nil? %>
              <img  class="avatar" src="//i.imgur.com/y7GX8r8.png" alt="Avatar" style="max-width:256px; max-height:256px;" />
            <% else %>
              <%= image_tag( root_path+@profile.get_img, :style => "max-width:256px; max-height:256px;" ) %>
            <% end %>
            <br>
            <%= ff.file_field :avatar %>
           <div class="username"><%= @profile.first_name %> <%= @profile.middle_name %> <%= @profile.last_name %></div>
           <div class="school"><%= @me.get_school %></div>
           <div class="description">New to Co-op</div>
           <div class="left">Phone number</div>
           <div><%= ff.text_field 'phone', :value => @profile.phone %></div>
           
      </div>
    <% end %>
    <% end %>

    <% if !@preference.nil? %>
    <%= f.fields_for @preference do |ff| %>
      <div>
          <h1>Preference</h1>
           <div class="left">Nickname</div>
              <div class="right"><%= ff.text_field 'name', :value => @preference.name %></div>
           <div class="details"><span class="profiletitle">Details</span></div>
           <div class="left">Province</div>
              <div class="right"><%= ff.text_field 'province', :value => @preference.province %></div>
           <div class="left">City</div>
              <div class="right"><%= ff.text_field 'city', :value => @preference.city %></div>
           <div class="left">Street</div>
              <div class="right"><%= ff.text_field 'street', :value => @preference.street %></div>
           <div class="left">Number</div>
              <div class="right"><%= ff.text_field 'house_number', :value => @preference.house_number %></div>
           <div class="left">Zip</div>
              <div class="right"><%= ff.text_field 'zip', :value => @preference.zip %></div>
            <div>
              <span>Lat:</span><%= ff.number_field 'latitude', :value => @preference.latitude, :readonly => true %>
              <span> | Lng:</span><%= ff.number_field 'longitude', :value => @preference.longitude, :readonly => true %>
            </div>
            <button class="button" type="button" onclick="updateLocation()">Search Address</button>

            <div>
              <span>Customise Rating Formula</span><%= ff.text_field 'formula', :value => @preference.get_formula %>
            </div>
      </div>
    <% end %>
    <% end %>
    <%= f.submit 'Update',class: 'button_compact'%>
  <% end %>

<button class="button" type="button" onclick="lastUrl()">Back</button>

    <script>
      var map;

      function initMap() {
        // Create a map object and specify the DOM element for display.
        var there = new google.maps.LatLng( document.getElementById("user_preference_latitude").value, 
                                            document.getElementById("user_preference_longitude").value );
        map = new google.maps.Map(document.getElementById('mapDiv'), {
          center: there,
          disableDefaultUI: true,
          zoom: 15
        });

        var urHere = new google.maps.InfoWindow();
        var title = "<b><%= @preference.zip %></b><br>";
        var info = "<%= @preference.full_address %>".trim()
        urHere.setContent( title + "<p>" + info + "</p>" );
        urHere.setPosition( there );
        urHere.open(map);
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASFiXXeK4KtUKhUAOz95HE5kq18AlAWZY&language=en&callback=initMap" async defer></script>

<% end %>

