<% content_for :mHeader do %>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= javascript_include_tag 'setting' %>
<% end %>


<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>


<% content_for :mFrame do %>
  <script type="text/javascript">
    updateUrl();
  </script>

  <div>
    <% if !@lat.nil? %>
    <div id='mapDiv' style="float: right; position: relative; width:600px; height:600px; z-index: -2"></div>
    <% end %>
  </div>

  <%= form_for @me do |f| %>
    <% if @profile != nil %>
      <%  %>
      <div>
          <h1>Profile</h1>
          <img  class="avatar" src="http://i.imgur.com/y7GX8r8.png" alt="Avatar" />
           <div class="username"><%= @profile.first_name %> <%= @profile.middle_name %> <%= @profile.last_name %></div>
           <div class="school">SFU</div>
           <div class="description">New to Co-op</div>
           
      </div>
      <% end %>
    <% end %>

      <div>
          <h1>Preference</h1>
           <div class="left">Nickname</div>
              <div class="right"><%= text_field_tag 'display_name', @preference.name %></div>
           <div class="details"><span class="profiletitle">Details</span></div>
           <div class="left">Province</div>
              <div class="right"><%= text_field_tag 'province', @preference.province %></div>
           <div class="left">City</div>
              <div class="right"><%= text_field_tag 'city', @preference.city %></div>
           <div class="left">Street</div>
              <div class="right"><%= text_field_tag 'street', @preference.street %></div>
           <div class="left">Number</div>
              <div class="right"><%= text_field_tag 'house_number', @preference.house_number %></div>
           <div class="left">Zip</div>
              <div class="right"><%= text_field_tag 'zip_code', @preference.zip %></div>
            <div>
              <span>Lat:</span><span id="lat"><%= @preference.latitude %></span>
              <span> | Lng:</span><span id="lng"><%= @preference.longitude %></span>
            </div>
            <button class="button" type="button" onclick="updateLocation()">Search Address</a>
      </div>
      <link_to "Add as friend", user_friend_path(current_user, @friend), :method=> :put>
      <button class="button" type="button" onclick="lastUrl()">Update</a>
  <% end %>
<% end %>

<button class="button" type="button" onclick="lastUrl()">Back</a>

<% if !@lat.nil? %>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript">
      var map = null;

      function GetMap()
      {  

         map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {credentials: "AkncMOPhJUoGDu9stqfQxrQisQXAmlDYdEMrfVHr5eOwv5-QKONY7tAA1IxJjJGK", center: new Microsoft.Maps.Location(
                                                            <%= @lat %>
                                                          , <%= @lng %>
                                                          ), zoom: 15 });
         map.entities.clear(); 
        var infoboxOptions = {title: "<%= @preference.zip %>", 
                          description: "<%= @preference.full_address %>\n [ <%= @lat %>, <%= @lng %>]"}; 
        var defaultInfobox = new Microsoft.Maps.Infobox(map.getCenter(), infoboxOptions );    
        map.entities.push(defaultInfobox);
      }
      GetMap();
</script>
<% end %>
