<% content_for :mHeader do %>
  <%= javascript_include_tag 'setting' %>
<% end %>

<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>

<% content_for :mFrame do %>
  <script type="text/javascript">
    updateUrl();
  </script>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
               <div id='mapDiv' style=" position: relative; width:1000px; height:500px"</div>
      </div>

    </div>
  </div>

  <%= form_for(@me, as: :user, :url => setting_path, :html => { :method => :put } ) do |f| %>
    <% if !@profile.nil? %>
    <%= f.fields_for @profile do |ff| %>
      <div>
          <h1>Profile</h1>
          <img  class="avatar" src="//i.imgur.com/y7GX8r8.png" alt="Avatar" />
           <div class="username"><%= @profile.first_name %> <%= @profile.middle_name %> <%= @profile.last_name %></div>
           <div class="school">SFU</div>
           <div class="description">New to Co-op</div>
           <div class="left">Phone number</div>
           <div><%= ff.number_field 'phone', :value => @profile.phone %></div>
           
      </div>
    <% end %>
    <% end %>
    
    <div class="container">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <h2>PREFERENCE</h2>
        </div>
      </div>
    </div>
        
      <% if !@preference.nil? %>
      <%= f.fields_for @preference do |ff| %>
      
      <div class="container">
        <div class="row">
          <h3><b>PERSONAL INFO</b></h3>
          <br>
          <div class="col-md-3">
            <div class="left"><b>NICKNAME .:</b></div>
            <div class="right"><%= ff.text_field 'name', :value => @preference.name %></div>
           <!--<div class="details"><span class="profiletitle">Details</span></div>-->
            <div class="left"><b>PROVINCE .:</b></div>
            <div class="right"><%= ff.text_field 'province', :value => @preference.province %></div>
            
            <div class="left"><b>CITY .:</b></div>
            <div class="right"><%= ff.text_field 'city', :value => @preference.city %></div>
            <button class="button btn-lg" type="button" onclick="updateLocation()">FIND ADDRESS</button>
          </div>
        
          <div class="col-md-3">
            <div class="left"><b>STREET .:</b></div>
            <div class="right"><%= ff.text_field 'street', :value => @preference.street %></div>
           
            <div class="left"><b>NUMBER .:</b></div>
            <div class="right"><%= ff.text_field 'house_number', :value => @preference.house_number %></div>
           
            <div class="left"><b>ZIP .:</b></div>
            <div class="right"><%= ff.text_field 'zip', :value => @preference.zip %></div>
          <div>
        </div>
        
      </div>
    </div>
    
    
    <div class="container">
      <div class="row">
        <div class="container" style="position: relative; bottom: 80px; right: 20px; margin-bottom: 10px">
        <div class="row">
          <h3><b>MAP INFO</b></h3>
          <br>
          <div class="col-md-3" style="position: relative; bottom: 0px">
            <b>LATITUDE .:</b><br>
            <%= ff.number_field 'latitude', :value => @preference.latitude, :readonly => true %><br>
            <b>LONGITUDE .:</b><br>
            <%= ff.number_field 'longitude', :value => @preference.longitude, :readonly => true %>
          </div>
        </div>
        <%= f.submit 'UPDATE',class: 'button_compact btn-lg btn-default'%>
        <button class="backButton" type="button " onclick="lastUrl()">BACK</button>  
      </div>
    </div>

    <% end %>
    <% end %>
    
    
    <% end %>

    <script>
      var map;

      function initMap() {
        // Create a map object and specify the DOM element for display.
        var there = new google.maps.LatLng( document.getElementById("user_preference_latitude").value, 
                                            document.getElementById("user_preference_longitude").value );
        map = new google.maps.Map(document.getElementById('mapDiv'), {
          center: there,
          disableDefaultUI: true,
          zoom: 15
        });

        var urHere = new google.maps.InfoWindow();
        var title = "<b><%= @preference.zip %></b><br>";
        var info = "<%= @preference.full_address %>".trim()
        urHere.setContent( title + "<p>" + info + "</p>" );
        urHere.setPosition( there );
        urHere.open(map);
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeoWCH2ffOhoK2tA8IEmQIXVVsZXSsHec&language=en&callback=initMap" async defer></script>

<% end %>

