<% content_for :mHeader do %>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<% end %>


<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>


<% content_for :mFrame do %>
<script type="text/javascript">
  updateUrl();
</script>


<div>
    <% if !@lat.nil? %>
    <div id='mapDiv' style="float: right; position: relative; width:600px; height:600px; z-index: -2"></div>
    <% end %>
</div>

  <% if @profile != nil %>
<div class="user-profile">
    <h1>Profile</h1>
    <img  class="avatar" src="http://i.imgur.com/y7GX8r8.png" alt="Avatar" />
     <div class="username"><%= @profile.first_name %> <%= @profile.middle_name %> <%= @profile.last_name %></div>
     <div class="school">SFU</div>
     <div class="description">New to Co-op</div>
     
</div>
  <% end %>

<div class="user-profile">
    <h1>Preference</h1>
     <div class="left">Nickname</div>
        <div class="right"><%= @preference.name %></div>
     <div class="details"><span class="profiletitle">Details</span></div>
     <div class="left">Province</div>
        <div class="right"><%= @preference.province %></div>
     <div class="left">City</div>
        <div class="right"><%= @preference.city %></div>
     <div class="left">Street</div>
        <div class="right"><%= @preference.street %></div>
     <div class="left">Number</div>
        <div class="right"><%= @preference.house_number %></div>
     <div class="left">Zip</div>
        <div class="right"><%= @preference.zip %></div>
</div>

<% end %>

<button class="button" type="button" onclick="lastUrl()">Back</a>

<% if !@lat.nil? %>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript">
      var map = null;

      function GetMap()
      {  

         map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {credentials: "AkncMOPhJUoGDu9stqfQxrQisQXAmlDYdEMrfVHr5eOwv5-QKONY7tAA1IxJjJGK", center: new Microsoft.Maps.Location(
                                                            <%= @lat %>
                                                          , <%= @lng %>
                                                          ), zoom: 15 });
         map.entities.clear(); 
        var infoboxOptions = {title: "<%= @preference.zip %>", 
                          description: "<%= @preference.full_address %>\n [ <%= @lat %>, <%= @lng %>]"}; 
        var defaultInfobox = new Microsoft.Maps.Infobox(map.getCenter(), infoboxOptions );    
        map.entities.push(defaultInfobox);
      }
      GetMap();
</script>
<% end %>
