<div class="container">
  <div class="login-signup">
      <div class="col-sm-6">
        
        <article role="login">
          <h3 class="text-center">
            <i class="fa fa-lock"><i>FORGOT YOUR PASSWORD</i></i> <!---FontAwesomeIcon--->
          </h3>
          
          </hr>
          
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="field">
             <%= f.email_field :email, placeholder: "Email", :class => 'form-control form-group' , :autofocus => true %>
          </div>
          
          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-success btn-block form-group" %>
          </div>
          
            <span style="text-align: center"><%= render "users/shared/links" %></span>
        </article>
    </div>
  </div>
</div>

<% end %>


