<% content_for :mLogin do %>
<% end %>

<% content_for :mHeader do %>
  <%= stylesheet_link_tag 'wymeditor/skins/default/skin.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cloudstorage' %>
  <script src="/assets/wymeditor/jquery.wymeditor.js"></script>
<% end %>

<%= form_for(@post, as: :post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>upload file to editor:</p>
   <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

<input type="filepicker" class="button_compact" data-fp-apikey="ALNjEZIbJTOg3xF1Dh5vnz" data-fp-extensions=".doc,.docx,.txt,.rtf,.odt" 
onchange="loadDriveFileAsText(event.fpfile.url)"> 
  
<br><br>
  <div class="field">
    <%= f.label :title ,"TITLE" ,class: "input-title" %> 
    <br>
    <%= f.text_field :title , class: "form-control form-control-style input-lg" %>
  </div>
  
  <br>
  <br>
  
  <div class="field" data-turbolinks="false">
    <%= f.label :body ,"Content" ,class: "input-title" %> 
    <br>
    <%= f.text_area :body, class: 'wymeditor' %>
  </div>
  
  <br>
  <br>
  
  <% if current_user.admin? %>
    <div class="field">
      <%= f.radio_button :type, 'Review', :checked => true %> 
      <%= label :type_review, 'Review' %>
      <%= f.radio_button :type, 'Promotion' %>
      <%= label :type_promotion, 'Promotion' %>
    </div>
  <% end %>
  
  <br>
  <br>
  
  
  <%= f.fields_for @job do |ff| %>
    <div class="field" data-turbolinks="false">
      <%= ff.label :job_title ,"Job Title" ,class: "input-title" %> 
      <br>
      <%= ff.text_field :job_title, class: "form-control" %>
    </div>

    <% if current_user.type != 'Company' %>
    <div class="field" data-turbolinks="false">
      <%= ff.label :offered_by ,"Company ID" ,class: "input-title" %> (if input is not #, search user table with company type find the ID of given name; if not exist, create a new company record)
      <br>
      <%= ff.text_field :offered_by, class: "form-control" %>
    </div>
    <% end %>

    <div class="field" data-turbolinks="false">
      <%= ff.label :working_hours ,"Hours per Week" ,class: "input-title" %> 
      <br>
      <%= ff.text_field :working_hours, class: "form-control" %>
    </div>

    <div class="field" data-turbolinks="false">
      <%= ff.label :work_day ,"Days per Week" ,class: "input-title" %> 
      <br>
      <span>0</span><%= ff.range_field :work_day, in: 0..7, step: 1,class: "form-control" %><span>7</span>
      <br>
      <p>0 means not restricted</p>
    </div>

    <div class="field" data-turbolinks="false">
      <%= ff.label :salary ,"Salary" ,class: "input-title" %> 
      <br>
      $<%= ff.text_field :salary, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions" data-turbolinks="false">
    <%= f.submit class: 'wymupdate button_compact'%>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $('.wymeditor').wymeditor();
    });
</script>
