<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>

<div class="container show_post">
  <div class="row">
    <h3 class="centered">GENERATED POST</h3>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render_shareable %>
    </div>
    <div class="col-md-4">
      <h3><b>Title</b></h3>
      <%= @post.title %>
      <br>
      <br>
      <h3><b>Type</b></h3>
      <%= @post.type %>
      <br>
      <br>
      <h3><b>Owner</b></h3>
      <%= @post.owner_name %><br><br>
      <% if @can_edit %>
    <%= link_to '<button class="bigButton" type="button">EDIT</button>'.html_safe, edit_post_path(@post), 'data-no-turbolink' => true %>
    <button class="backButton btn-lg btn-default" type="button " onclick="lastUrl()">BACK</a>
<% end %>
    </div>
      
    <div class="col-md-4">
      <h3><b>Body</b></h3>
      <%=raw @post.body %>
    </div>
  </div>
</div>




