<% content_for :mHeader do %>
  <%= stylesheet_link_tag 'wymeditor/skins/default/skin.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cloudstorage' %>
  <script src="/assets/wymeditor/jquery.wymeditor.js"></script>
<% end %>

<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>
<% content_for :mBody do %>
	<style>
	body{
		background-image: url("http://i.imgur.com/4fIqHUo.jpg");
		background-repeat: repeat;
		background-size: contain;
	}	
	</style>
<% end %>
<% content_for :mFrame do %>
  <p id="notice"><%= notice %></p>


  <div class="table-title">
    <h3>Show Post</h3>
  </div>

  <div class="show1-post">
  
    <div class="show-post-p">
      <strong>Title:</strong>
      <div class="show-post-text"><%= @post.title %></div>
    </div>
    
    <div class="show-post-p">
      <strong>Body:</strong>
      <div class="show-post-text"><%=raw @post.body %></div>
    </div>

    <div class="show-post-p">
      <strong>Type:</strong>
      
      <div class="show-post-text"><%= @post.type %></div>
    </div>

    <div class="show-post-p">
      <strong>Owner:</strong>
      <div class="show-post-text"><%= @post.owner_name %></div>
    </div>

  <div class="show-post-p">
    <hr>
    <b style="padding-bottom: 5px">Share with your friends:&nbsp;&nbsp; </b>
    <%= render_shareable :turbolinks => true %>
  </div>
  </div>

  <% if @can_edit %>
      <%= link_to '<button class="button" type="button">Edit</button>'.html_safe, edit_post_path(@post), 'data-no-turbolink' => true %> 
  <% end %>

<button class="button" type="button" onclick="lastUrl()">Back</button>

<% end %>