<%= form_for @resume do |f| %>

    
    <h2>Basic Info</h2>
    
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    
    <%= f.label :summary %>
    <%= f.text_area :summary %><br>
    
    <%= f.label :address %>
    <%= f.text_field :address %><br>
    
    <%= f.label :city %>
    <%= f.text_field :city %><br>
    
    <%= f.label :state %>
    <%= f.text_field :state %><br>
    
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %><br>
    
    <%= f.label :phone %>
    <%= f.text_field :phone %><br>
    
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    
    <%= f.label :gitweb %>
    <%= f.text_field :gitweb %><br>
    
    <hr>
    
    <h2>Experience</h2>
    
    <%= f.label :cmpyname, "Company Name"%>
    <%= f.text_field :cmpyname %><br>
    
    <%= f.label :cmpywhere , "Company Location"%>
    <%= f.text_field :cmpywhere %><br>
    
    <%= f.label :cmpywhen , "Date"%>
    <%= f.text_field :cmpywhen %><br>
    
    <%= f.label :cmpyrole , "Company Role"%>
    <%= f.text_field :cmpyrole %><br>
    
    <hr>
    
    <h2>Project</h2>
    
    <%= f.label :projtitle , "Project Title"%>
    <%= f.text_field :projtitle %><br>
    
    <%= f.label :projrole , "Project Description"%>
    <%= f.text_field :projrole %><br>
    
    <hr>
    
    <h2>Experience</h2>
    
    <%= f.label :edudeg , " Education Degree" %>
    <%= f.text_field :edudeg %><br>
    
    <%= f.label :eduuni , "Name of the University"%>
    <%= f.text_field :eduuni %><br>
    
    <%= f.label :eduloc , "Location of the University"%>
    <%= f.text_field :eduloc %><br>
    
    <%= f.label :eduwhen , "University Date"%>
    <%= f.text_field :eduwhen %><br>
    
    <%= f.label :gpa , "GPA" %>
    <%= f.text_field :gpa %><br>
    
    <hr>
    

    <%= f.submit %>
    

<% end %>


