<p id="pdf_link"><%= link_to 'Download Resume', show_resume_path(format: 'pdf') %></p>

<style>
    body { margin: 0;
       padding: 0;

       font-family: "source-sans-pro", sans-serif;
       -webkit-font-smoothing: subpixel-antialiased;
}
* { box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*
 Primary Rules
*/

ul {
	background-color: white;
}
h1 { font-weight: 300;
      font-style:italic;
     margin: 5px 0 0;
     font-size: 40px;
     color:#ba0018;
     padding: 0 10px 10px;
     border-radius:2px;
     font-family: 'merriweather', sans-serif;
}
h2 { color: #ba0018;
     width: 150px;
     font-size: 18px;
     padding-left: 20px;
     font-weight:400;
     font-family: 'merriweather', sans-serif;
}
h2:first-letter { font-size: 150%; }
h3 { font-size: 18px;
     font-weight: bold;
     margin-bottom: 0;
     line-height: 28px;
     font-family: 'merriweather', sans-serif;
}
h2, h3 { margin-top: 5px }
a { color: #ba0018;
    display: inline-block;
    text-decoration: none;
    padding:2px 4px;
    border-radius:2px;
    margin-right:-2px;
}
a:hover {
  background-color:#ba0018;
  color:#fff;
}
.key:first-child { margin-left: 0 }
.key { margin: 0 10px;
       position: relative;
}
.key::before { content: '◆';
               position: absolute;
               left: -15px;
               color: #555;
               font-size: 7pt;
}
.key:first-child::before { content: '' }
.section { border-bottom: 1px solid #ddd;
           padding: 10px 0 15px;
}
.section:last-child { border: none }
.section-text { width: 80%;
                font-size: 18px;
                line-height: 24px;
                margin: 10px 0 10px;
                padding: 0 10px;
}
.subsection { margin: 10px 0 5px }
.desc { font-size: 16px; font-family: "source-sans-pro", sans-serif; color:#444;}
.contact-info { font-size: 16px;
                text-align: right;
}
.emph { font-style: italic }
.light { color: #aaa;letter-spacing:1px;
         font-size: 14px;
         line-height:28px;
         font-family: "source-sans-pro", sans-serif;
         text-transform:uppercase;
}
ul{
  padding-left:15px;
}

ul.skills{
  float:left;
  width:30%;
  padding-left:0px;
  margin: 0 20px 0 0;
}

ul.skills li{
  list-style: none;
  font-size:16px;
  margin-bottom:10px;
}

ul.skills li:last-child{
  margin:0;
}

/*
 Float Rules
*/
.row:before, .row:after { content: "";
                          display: table;
}
.row:after { clear: both }
.col { float: left;
}
.col-right { float: right 
    
}

/*
 Page Rules
*/
.page { width: 1000px;
        min-height: 29.7cm;
        margin: 1cm auto;

        background: white;
        padding: 20px 50px;
}
.subpage { padding: 1cm;
           border: 1px red solid;
           height: 297mm;
}

@page { size: A4;
        margin: 0;
}

@media print {
    .page { margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
    }
    .page-break{
      page-break-before: always;
      padding-top:30px;
    }

    body { font-size: 12pt;}
    h1{
      font-size: 23pt;
    }

    h2{
      font-size:10pt;
      width: 3cm;
      padding-left: 10px;
    }

    h3 { font-size: 10pt; line-height:11pt}

    .section-text { font-size: 9pt; line-height: 14pt; }

    .light { font-size: 7.5pt; line-height:12pt; color:#ddd; }
    
    .page { width: 21cm }
    ul {margin:5px 0 0}
    .section { padding: 5px 0 8px }
    .section-text { width: 15cm; margin: 5px 0 5px;}
    .subsection { margin: 5px 0 0 }
    .desc { font-size: 9pt }
    
    .contact-info { font-size: 9pt}
    
    ul.skills{margin: 0 10px 0 0;}
    ul.skills li{ font-size: 9pt; margin-bottom:0}

}
    
</style>


<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <script type="text/javascript" src="//use.typekit.net/lyj3wzr.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        

		<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= wicked_pdf_stylesheet_link_tag "print" -%>
	</head>
	
    <body>
        <div class="page">
            <div class="section row">
                <h1 class="col"><span style="font-weight:700"><%= @resume.name %></span></h1>
                <div class="contact-info col-right">
                    <div><%= @resume.phone %></div>
                    <div><%= @resume.gitweb %></a></div>
                    <div><%= @resume.email %></a></div>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Objective</h2>
                <div class="section-text col-right"><span class="key"><%= @resume.summary %></span></div>
            </div>
            <div class="section row">
                <h2 class="col">Skill</h2>
                <div class="section-text col-right row">
                    <ul class="skills" style="background-color: white">
                        <li><%= @resume.skill %></li>
                        <!--<li>Javascript</li>-->
                        <!--<li>Python, PHP</li>-->
                        <!--<li>HTML5, CSS3, SVG</li>-->
                    </ul>
                    <!--<ul class="skills" style="width:35%">-->
                    <!--    <li>Qt, OpenGL/SDL, V8</li>-->
                    <!--    <li>jQuery, backbone, node</li>-->
                    <!--    <li>Django, App engine</li>-->
                    <!--    <li>LESS, Bootstrap, d3.js</li>-->
                        
                    <!--</ul>-->
                    <!--<ul class="skills">-->
                    <!--    <li>MySQL, MongoDB</li>-->
                    <!--    <li>grunt, jasmine</li>-->
                    <!--    <li>Flash, Actionscript 3</li>-->
                    <!--    <li>Git, Photoshop, Illustrator</li>-->
                    <!--</ul>-->
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Education</h2>
                <div class="section-text col-right">
                    <h3><span class="emph"><%= @resume.edudeg %></span> | GPA:  <%= @resume.gpa %></h3>
                    <div><%= @resume.eduuni %> - <%= @resume.eduloc %></div>
                    <div class="row">
                        <div><%= @resume.eduwhen %></div>
                    </div>
                </div>
            </div>


           
            <div class="section row">
                <h2 class="col">Work Experience</h2>
                    <div class="section-text col-right">
                    <h3><span class="emph"><%= @resume.workname %></span> | <%= @resume.workrole %></h3>
                    <div><%= @resume.workloc %> </div>
                    <div class="row">
                    	<div><%= @resume.workwhen %></div>
                        <div><%= @resume.workinfo %></div>
                    </div>
                </div>
            </div>
            
            <div class="section row">
                <h2 class="col">Projects</h2>
                    <div class="section-text col-right">
                    <h3><span class="emph"><%= @resume.projtitle %></span> | <%= @resume.projrole %></h3>
                    <div class="row">
                    	<div style="font-size: 12px"><%= @resume.projwhen %></div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>