<!DOCTYPE html>
<html>
    <head>
      <title>CoopRS</title>
    
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= yield :mHeader %>
      
      <%= favicon_link_tag 'dummy.ico' %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    
    <div class="project-header">
      <div class="left"><a class="project-title" href="/"><span class="R-S" data-letter="C">C</span>OOP<span class="R-S" data-letter="R">R</span>&amp;<span class="R-S" data-letter="S">S</span></a></div>
      <div class="toptext">WEBSITE FOR COOP STUDENTS, REVIEWING AND SHARING</div>
    </div>

    <div>
      <%= yield :mFrame %>
    </div>

    <div>
      <%= yield %>
    </div>


    </body>
</html>