<!DOCTYPE html>
<html>
    <head>
      <title>CoopRS</title>
    
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= yield :mHeader %>
      
      <%= favicon_link_tag 'dummy.ico' %>
      <%= csrf_meta_tags %>
    </head>
    
    <body>
        
    <div id="whole-head">

      <div id="project-header" class="large">
        <div class="left">
          <a class="project-title" href="/"><span class="R-S" data-letter="C">C</span>OOP<span class="R-S" data-letter="R">R</span>&amp;<span class="R-S" data-letter="S">S</span></a>
        </div>
        <div class="toptext exlarge">WEBSITE FOR COOP STUDENTS, REVIEWING AND SHARING</div>
        <div><%= yield :mLogin %></div>
      </div>

      <ul id="top-navbar">
        <li class="top-navbar-list" style="float:left">
          <a href="/">
            <img class="topnav-icons" src="//i.imgur.com/RO5VA6h.png" alt="HOME" />
          </a>
        </li>

        <% if user_signed_in? %>
        
            <% if current_user.admin? %>

                  <li class="top-navbar-list" id="maction"><a href="#" onclick="toggleAction(); return false;">ACTION</a></li>
                  <li class="top-navbar-list hidden" id="muser"><a href="/admin/">MANAGE USERS</a></li>
                  <li class="top-navbar-list hidden" id="mpost"><a href="/posts/">MANAGE POSTS</a></li>
              
            <% end %>

                  <li class="top-navbar-list" id="wrtpost"><a href="/posts/new">NEW POST</a></li>
                  <li class="top-navbar-list large" id="resume"><a href="/resume">RESUME BUILDER</a></li>
                  
                  <li class="top-navbar-list" style="float:right">
                    <%= link_to destroy_user_session_path, :method => :delete do %>
                      <img class="topnav-icons icon" src="http://i.imgur.com/qgNZck9.png"/><span>&nbsp;&nbsp;LOGOUT</span>
                    <% end %>
                  </li> 
                  
                  <li class="top-navbar-list" id="msetting" style="float:right"> <%= link_to('SETTINGS', setting_path ) %> </li> 
        <% else %>

                  <li class="top-navbar-list large" id="action"><a href="/text">ABOUT</a></li>

                  <li class="top-navbar-list" style="float:right">
                    <%= link_to new_user_session_path do %>
                      <img class="topnav-icons icon" src="http://i.imgur.com/qgNZck9.png"/>
                      <span>&nbsp;&nbsp;LOGIN</span>
                    <% end %>
                  </li> 
                  
                  <li class="top-navbar-list" style="float:right">
                    <a href="/users/sign_up">
                      <img class="topnav-icons icon" src="//i.imgur.com/5VPaM9H.png"/>
                      <span>&nbsp;&nbsp;REGISTER</span>
                    </a>
                  </li> 
                
        <% end %>
      </ul>
    </div>
    
    <div id="main2">
      <div class="notice">
        <%= notice %>
      </div>

      <div class="alert">
        <%= alert %>
      </div>

      <div class="content">
        <%= yield :mFrame %>
      </div>
    </div>

    <div class="systemDump">
      <%= yield %>
    </div>
    
    <footer>
      <a href="#" class="go-top">Back to Top</a>      
    </footer>

    </body>
 
</html>
