<!DOCTYPE html>
<html>
    <head>
      <title>CoopRS</title>
    
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Archivo+Narrow', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Droid+Serif', media: 'all', 'data-turbolinks-track' => true %>
      <%= yield :mHeader %>
      
      <%= favicon_link_tag 'dummy.ico' %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
    </head>
    
    <body>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= render 'layouts/header' %>
      
    <div>
      <%= yield %>
    </div>
    

    </body>
</html>