<!DOCTYPE html>
<html>
<head>
  <title>CoopRS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'dummy.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>

<div id="user_nav" >
    <%= yield :mLogin %>
</div>
<hr />

<div>
    <%= yield :mFrame %>
</div>

<div>
    <%= yield %>
</div>

</body>
</html>
