<!DOCTYPE html>
<html>
    <head>
      <title>CoopRS</title>
    
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= yield :mHeader %>
      
      <%= favicon_link_tag 'dummy.ico' %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    
    <div>
      <a href="/">COOPR&S</a>
      <%= yield :mLogin %>
    </div>

    <div>
      <%= yield :mFrame %>
    </div>

    <div>
      <%= yield %>
    </div>


    </body>
</html>