<% content_for :mHeader do %>
  <%= javascript_include_tag 'faker' %>
  <%= javascript_include_tag 'passwordMeter' %>
  <%= javascript_include_tag 'random' %>
  <%= stylesheet_link_tag 'validateForms' %>
  <%= stylesheet_link_tag 'passwordmeter' %>
 
<% end %>
<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>
<% content_for :mBody do %>
	<style>
	body{
		background-image: url("http://i.imgur.com/VOqwNZi.jpg");
	}	
	</style>
<% end %>
<div class="login-full">
              
      <%= form_for @user, as: :user, :html => { :class => "login-form" }, url: {action: "create"} do |f| %>
          <%= devise_error_messages! %>
              
                <p>You may use any email to register, but only email addresses issued by BC university or college are qualified for authentication.</p>
          <div class="field">
                <%= f.email_field :email, placeholder:"Email", :class => 'inputbox' , :autofocus => true, :onkeyup => "validateEmail()" %>
                <img src = "/ok-24.gif" alt="checkmark" id ="emailCheck" >
          </div>
          </br>
          <div class="field">

                  <%= f.password_field :password, placeholder:"Password",class: 'inputbox' , autocomplete: "off", :onkeyup => "validatePassword()"  %>
                  <img src = "/ok-24.gif" alt="checkmark" id ="passwordCheck" >
                  <% if @minimum_password_length %>
                    <em style="float:left">(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  
          </div>

          <div class="field">
                  
                  <%= f.password_field :password_confirmation, placeholder:"Confirm Password",class: 'inputbox' , autocomplete: "off" , autofocus: true, :onkeyup => "validatePassword()" %>
                  <img src = "/ok-24.gif" alt="checkmark" id ="passwordConfirmationCheck"  >
          </div>
                
          <div class="meter" > 
                  <div id="passwordMeter" style=" text-align:center; height: 20px;border-radius: 5px;">
                    <span id="meterText"></span>
                  </div>
                      <!--<span id= "passwordHints">-try multi-word passwords<br>-longer is better<br>-add punctuation and digits</span>-->
          </div>

          <div class="field" style= "text-align: left">
                  <%= f.radio_button :type, 'Student', :checked => true %> STUDENT 
                  <!--%= label :type_student, 'Student' %-->
                  <%= f.radio_button :type, 'Company' %> COMPANY
                  <!--%= label :type_company, 'Company' %-->
          </div>
                
          <br>
              
            <!--  <div class="field">-->
            <!--    %= fields_for :preferences do |pf| %>-->
            <!--      %= pf.label :name %><br />-->
            <!--      %= pf.text_field :name, autocomplete: "off", :onkeyup => "updateMeter()" %>-->
            <!--    % end %>-->
            <!--</div>-->
              
          <div class="actions">
                  <%= f.submit "CREATE ACCOUNT", :class => 'login-form-button' %>
          </div>
    
          </br>
            
          <span style="font-size: 16pt;margin-right: 5px;font-weight: bold;color:#333">Already a member?&nbsp;&nbsp; </span>
          
          <%= link_to "Log In", new_user_session_path, :class => "login-form-message" %><br />

<% end %>
</div>
