<% content_for :mHeader do %>
  <%= javascript_include_tag 'faker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'passwordMeter', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'random', 'data-turbolinks-track' => true %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="centered">REGISTER NEW ACCOUNT</h3>
              <h4 class="centered"> —————— </h4>
              <br>
            </div>
            
            <%= form_for @user, as: :user, url: {action: "create"} do |f| %>
            <%= devise_error_messages! %>
            
            <%= f.label :Email, "EMAIL *" %>
            <%= f.email_field :email, :class => 'form-control input-lg' , :autofocus => true, :onkeyup => "validateEmail" %>
            <img src = "/ok-24.gif" alt="checkmark" id ="emailCheck" >
            
            <% if @minimum_password_length %>
            <%= f.label :Password, "PASSWORD *" %> <span style="font-size:12px">(<%= @minimum_password_length %> characters minimum)</em></span>
            <%= f.password_field :password,class: 'form-control input-lg' , autocomplete: "off", :onkeyup => "validatePassword()"  %>
            <img src = "/ok-24.gif" alt="checkmark" id ="passwordCheck">
            <% end %>
            
            <!--% if @minimum_password_length %>-->
            <!--  <em>(%= @minimum_password_length %> characters minimum)</em>-->
            <!--% end %>-->
            
            <%= f.label :Password, "CONFIRM PASSWORD" %>
            <%= f.password_field :password_confirmation, class: 'form-control input-lg' , autocomplete: "off" , autofocus: true, :onkeyup => "validatePassword()" %>
            <img src = "/ok-24.gif" alt="checkmark" id ="passwordConfirmationCheck">
            
            <div class="meter" > 
              <div id="passwordMeter" style=" text-align:center; height: 20px;border-radius: 5px;">
                <span id="meterText"></span>
              </div>
            </div>
            
            <div class="centered" style="font-size: 12px">
              <%= f.radio_button :type, 'Student', :checked => true %> STUDENT 
              <!--%= label :type_student, 'Student' %-->
              <%= f.radio_button :type, 'Company' %> COMPANY
              <!--%= label :type_company, 'Company' %-->
            </div>
            
            <div class="actions">
              <%= f.submit "SUBMIT", :class => 'btn-block btn-lg', style: "background-color: #FE4A49; border: 2px solid #FE4A49; font-weight: bold; color: white" %>
            </div>
            
            <span style="text-align: center"><%= render "users/shared/links" %></span>
            
            <button class="btn-block btn-lg" , style="background-color: #02c39a; border: 2px solid #02c39a; font-weight: bold; font-size: 20px; color: white", type="button" onclick="lastUrl()">LOGIN</a>
            
            <% end %>
        
        </div>
      </div>
    </div>
  </div>
</div>


