<% content_for :mHeader do %>
  <%= javascript_include_tag 'faker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'passwordMeter', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'random', 'data-turbolinks-track' => true %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3 class="centered">REGISTER NEW ACCOUNT</h3>
        <h4 class="centered"> —————— </h4>
        <br>
        
        <br>
        <hr>
        
        <%= form_for @user, as: :user, url: {action: "create"} do |f| %>
        <%= devise_error_messages! %>
        
        <%= f.label :Email, 'EMAIL *' %>
        <%= f.email_field :email, :class => 'form-control input-lg' , :autofocus => true, :onkeyup => "validateEmail()" %>
        <!--<input class= "largebutton" type="button" onClick="makeEmail('user_email')" value="Give me an email" />-->
        <img src = "/ok-24.gif" alt="checkmark" id ="emailCheck" >
        
        <% if @minimum_password_length %>
        <span style="font-size:11px"><%= f.label :Password, "PASSWORD *" %><em>(<%= @minimum_password_length %> characters minimum</em>)</span>
        <%= f.password_field :password, class: 'form-control input-lg' , autocomplete: "off", :onkeyup => "validatePassword()"  %>
        <img src = "/ok-24.gif" alt="checkmark" id ="passwordCheck" >
        <% end %>
        
        <%= f.label :Password, "CONFIRM PASSWORD *" %>
        <%= f.password_field :password_confirmation, class: 'form-control input-lg' , autocomplete: "off" , autofocus: true, :onkeyup => "validatePassword()" %>
        <img src = "/ok-24.gif" alt="checkmark" id ="passwordConfirmationCheck" >
        
        <div class="meter"> 
          <div id="passwordMeter" style=" text-align:center; height: 20px;border-radius: 5px;">
            <span id="meterText"></span>
          </div>
        <!--<span id= "passwordHints">-try multi-word passwords<br>-longer is better<br>-add punctuation and digits</span>-->
        </div>
        
        <div class="field centered">
          <%= f.radio_button :type, 'Student', :checked => true %> <span style="font-size: 12px; font-weight: bold">STUDENT </span>
          <!--%= label :type_student, 'Student' %-->
          <%= f.radio_button :type, 'Company' %> <span style="font-size: 12px; font-weight: bold">COMPANY </span>
          <!--%= label :type_company, 'Company' %-->
        </div>
        
        <div class="actions">
          <%= f.submit "SUBMIT", :class => 'btn-block btn-lg submit', style: "background-color: #ED6A5A; border: 2px solid #ED6A5A; color: white" %>
        </div>
        <span style="text-align: center"><%= render "users/shared/links" %></span>
        <button class="btn-block btn-lg" , style="background-color: #5CA4A9; border: 2px solid #5CA4A9; color: white", type="button" onclick="lastUrl()">LOGIN</a>
        
        <% end %>
        
      </div>
    </div>
  </div>
</div>
