<% content_for :mHeader do %>
  <%= javascript_include_tag 'faker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'passwordMeter', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'random', 'data-turbolinks-track' => true %>
<% end %>
  


<h2>Sign up</h2>

<%= form_for @user, as: :user, url: {action: "create"} do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true%>
    <input class= "largebutton" type="button" onClick="makeEmail('user_email')" value="Give me an email" />
    <img src = "/app/assets/images/ok-24.gif" alt="checkmark" id ="emailCheck">
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :onkeyup => "validatePassword()"  %>
    
    <div class = "meter" > 
      <div id="passwordMeter" style=" text-align:center; height: 15px;border-radius: 5px;">
        <span id = "meterText"></span>
      </div>
      <span id= "passwordHints">-try multi-word passwords<br>-longer is better<br>-add punctuation and digits</span>
    </div>
    
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.radio_button :type, 'Student', :checked => true %> 
    <%= label :type_student, 'Student' %>
    <%= f.radio_button :type, 'Company' %>
    <%= label :type_company, 'Company' %>
  </div>

<!--   <div class="field">
  <%= fields_for :preferences do |pf| %>
      <%= pf.label :name %><br />
      <%= pf.text_field :name, autocomplete: "off", :onkeyup => "updateMeter()" %>
  <% end %>
  </div> -->

  <div class="actions">
    <%= f.submit "Sign up", :class => 'button' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
