<% content_for :mHeader do %>
  <%= javascript_include_tag 'faker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'passwordMeter', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'random', 'data-turbolinks-track' => true %>
<% end %>
  
<div class="container">
  <div class="login-signup">
      <div class="col-sm-6">
        <article role="login">
          <h3 class="text-center">
            <i class="fa fa-lock"><i>SIGN UP</i></i> <!---FontAwesomeIcon--->
          </h3>
          
          <hr>
          
          <%= form_for @user, as: :user, url: {action: "create"} do |f| %>
          <%= devise_error_messages! %>
          
          <div class="field">
              <%= f.email_field :email, placeholder: "Email", :class => 'form-control form-group' , :autofocus => true, :onkeyup => "validateEmail()" %>
              <!--<input class= "largebutton" type="button" onClick="makeEmail('user_email')" value="Give me an email" />-->
              <img src = "/ok-24.gif" alt="checkmark" id ="emailCheck" >
          </div>
          
          <div class="field">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, placeholder: "Password" , class: 'form-control' , autocomplete: "off", :onkeyup => "validatePassword()"  %>
            <img src = "/ok-24.gif" alt="checkmark" id ="passwordCheck" >
          </div>
          
          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password" ,  class: 'form-control' , autocomplete: "off" , autofocus: true, :onkeyup => "validatePassword()" %>
            <img src = "/ok-24.gif" alt="checkmark" id ="passwordConfirmationCheck" >
          </div>
          
          <div class="meter" > 
            <div id="passwordMeter" style=" text-align:center; height: 20px;border-radius: 5px;">
              <span id="meterText"></span>
            </div>
                <!--<span id= "passwordHints">-try multi-word passwords<br>-longer is better<br>-add punctuation and digits</span>-->
          </div>
          
          <div class="field" style= "text-align: center">
            <%= f.radio_button :type, 'Student', :checked => true %> Student    
            <!--%= label :type_student, 'Student' %-->
            <%= f.radio_button :type, 'Company' %> Company
            <!--%= label :type_company, 'Company' %-->
          </div>
          
        <!--  <div class="field">-->
        <!--    %= fields_for :preferences do |pf| %>-->
        <!--      %= pf.label :name %><br />-->
        <!--      %= pf.text_field :name, autocomplete: "off", :onkeyup => "updateMeter()" %>-->
        <!--    % end %>-->
        <!--</div>-->
          
          <div class="actions">
            <%= f.submit "SUBMIT", :class => 'btn btn-success btn-block form-group' %>
          </div>


          <span style="text-align: center">Already A Member? <%= render "users/shared/links" %></span>
        
        </article>
    </div>

</div>  

<% end %>
